body{
    font-family: 'Be Vietnam Pro', sans-serif;
    
}
section{
    margin-bottom: 100px;
}
.flexible{
    display: flex;
}
#bar {
    border-left: 5px solid rgb(0, 162, 255);
    padding: 10px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
}
.half-width h1{
    font-size: 60px;
}
.half-width p{
    font-size: 20px;
 
}
.half-width span{
    color: skyblue;
}
.half-width a{
    text-decoration: none;
    background-image:linear-gradient(blue,skyblue);
    padding: 10px 40px;
    color: white;
    
}
.experience-item {
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
}
#light-blue{
    background-color:lightblue;
}
#light-purpel{
    background-color: lightpink;
}
#light-orange{
    background-color: lightsalmon;
}
.experience-item img{
width:  150px;
}
.experiance-area {
    background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experiance-area h1{
    text-align: center;
    font-size: 40px;
}
.experiance-area span{
    color: rgb(127, 17, 252);
    
}
.half-width h2{
  font-size: 40px;
    
}
.devolop {
  background-image: url(images/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 300px;
}
.cv{
    background-color: gray;
    padding: 20px;
}
.cv h1{
    text-align: center;
    font-size: 50px;
    color: blue;
}
.my-story{
    text-align: center;
    padding-bottom: 20px;
    
}
.my-story a{
    text-decoration: none;
    background-image:linear-gradient(blue,skyblue);
    padding: 10px 40px;
    color: white;
}
footer{
    background-color: black;
    padding: 30px 10px;
}
footer h1{
    color: white;
    text-align: center;
}
footer p{
    color: skyblue;
    text-align: center;
}
footer span{
    color: rgba(8, 174, 240, 0.767);
}